@import url('https://fonts.googleapis.com/css?famil=DM+Sans:500,700&display=swap');

#title {
    background-color:rgb(13, 13, 24);
  }
  
  /*Buttons*/
  .btn1, .btn2 {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    margin: 15px;    
}
  
  .btn1:active {
    scale: 0.92;
  }
  
  .btn1:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

  .btn2:active {
    scale: 0.92;
  }
  
  .btn2:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

/*cards price*/

.plan {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 10px;
    background-color: #fff;
    color: #4f6667;
    max-width: 300px;
  }
  
  .plan strong {
    font-weight: 600;
    color: #425275;
  }
  
  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #ecf0ff;
    border-radius: 12px;
    position: relative;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color:  #95f2ea;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #425475;
  }
  
  .plan .pricing small {
    color: #707a91;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
  }
  
  .plan .title + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }
  
  .plan .features .icon {
    background-color: #55dbd7;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    border-radius: 6px;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
  }
  
  .plan .button:hover, .plan .button:focus {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

/*cards*/
.myCard {
  background-color: transparent;
  width: 294px;
  height: 230px;
  display: flexbox;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

/*Ig contacs*/

.card {
  width: fit-content;
  height: fit-content;
  display:inline-block;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  background-color: rgb(13, 13, 24);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/*rate card*/

.ratecard {
  --background: #fff;
  --cardShadow: rgba(32,33,37,.1);
  --cardShadowHover: rgba(31, 215, 232, 0.873);
  --cardShadowActive: rgba(32,33,37,.55);
  --cardBorder: #dbdce0;
  --cardBorderActive: #1a73e8;
  --textColor: #202125;
  --linkColor: #1967d2;
  --ratingColor: #faab00;
}

@media (prefers-color-scheme: dark) {
  .ratecard {
    --background: #3c4043;
    --cardShadow: rgba(0,0,0,.28);
    --cardShadowHover: rgba(31, 215, 232, 0.873);
    --cardShadowActive: rgba(0,0,0,.55);
    --cardBorder: #202125;
    --cardBorderActive: #8ab4f8;
    --textColor: #e9eaee;
    --linkColor: #8ab4f8;
  }
}

.ratecard {
  width: 250px;
  height: 350px;
  aspect-ratio: 2/3;
  background: var(--background);
  color: var(--textColor);
  border: 1px solid var(--cardBorder);
  padding: 25px;
  box-shadow: 8px 8px 0 var(--cardShadow);
  transition: box-shadow .5s, transform .5s;
  border-radius: 8px;
  display: inline-block;
  margin: 2%;
}

.ratecard:hover {
  transform: translate(-2px, -4px);
  box-shadow: 16px 16px 0 var(--cardShadowHover);
}

.ratecard:active {
  transform: translate(-2px, -4px);
  border: 2px solid var(--cardBorderActive);
  box-shadow: 4px 4px 0 var(--cardShadowActive);
}

.ratecard > .icon,
.ratecard > .title,
.ratecard > .description {
  margin-bottom: 0.7em;
  cursor: default;
  user-select: none;
}

.ratecard > .title {
  margin-top: 1.5em;
  font-weight: bold;
}

.ratecard > .description {
  line-height: 1.5em;
  min-height: 6em;
}

.ratecard > .icon {
  font-size: 3em;
  margin-bottom: .2em;
}

.ratecard > .rating {
  font-size: 1.5em;
  margin-bottom: 0.8em;
  color: var(--ratingColor);
  font-weight: bold;
  position: relative;
  width: max-content;
}

.ratecard > .rating:before {
  content: "☆☆☆☆☆";
}

.ratecard > .rating:after {
  content: "★★★★★";
  position: absolute;
  left: 0;
  z-index: 0;
  width: calc(var(--rating) * 1%);
  overflow: hidden;
}

.ratecard > .link {
  margin-bottom: 1rem;
  color: var(--linkColor);
  font-size: .8em;
  font-weight: 600;
}

/* Optional ~ Link the whole card */
.ratecard > .link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratecard > .link:after {
  content: "↗";
  display: inline-block;
  margin-left: .3em;
  transition: transform .3s ease-in-out;
}

.ratecard:hover > .link:after {
  transform: translate(.2em, -.2em);
}




  .container-fluid {
    padding: 3% 15% 9%;
  }
  
  h1 {
    font-family: 'Smooch Sans', serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
  }
  
  h2
  {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .iphone6 {
    width: 90%;
    transform: rotate(20deg);
    position: relative;
    left: 20%;
  }
  
  
  @media (max-width: 1028px) {
  
  body {
    text-align: center;
  }
  
  .iphone6 {
    width: 90%;
    position: static;
    transform: rotate(0deg);
    margin-top: 18%;
  }

}
  
  .navigation {
    margin-bottom: 60px;
  }
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  .navbar {
    padding-left: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  /* Features */
  #features {
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: inline-flexbox;
    justify-content: space-between;
  }
   
  .fontf {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
  
  .pf {
    color: grey;
    width: 60%;
    margin: auto;
  }
  
  .forthefeatures {
    padding-top: 150px;
    margin-bottom: 100px;
  }
  
  
  /* Testimonial Sections */
  
  
  
  #testimonials {
  
    text-align: center;
    background-color:rgb(13, 13, 24);
    color: white;
  }
  
  .carousel-item {
      padding: 7% 15%;
  }
  
  
  
  .testimonial-image{
    width: 10%;
    border-radius: 50%;
  }
  
  
  #press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin:20px 20px 50px;
  }
  
  
  /* Pricing */
  
  #pricing{
    padding:100px;
    text-align: center;
  }
  
  .padding-column {
    padding: 2% 3%;
  }
  
  
  /* Call to Action */
  
  #cta {
  padding: 9% 15%;
  background-color: rgb(13, 13, 24);
}
  
  
  .ctah3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
  }
  
  
  /* Footer */
  

  .copyright {
    color: grey;
  }


  .rows {
    display: inline-flexbox;
    justify-content: space-between;
    text-align: center;
  }